@font-face{
  font-family: Voyager;
  src: url('../fonts/voyager.ttf');
}
@font-face{
  font-family: Geosans;
  src: url('../fonts/Geosans.ttf');  
}
@font-face{
  font-family: Prime;
  src: url('../fonts/Prime_light.otf');  
}
@font-face{
  font-family: Myriad;
  src: url('../fonts/myriad.otf');  
}
@font-face{
  font-family: Myriad_pro;
  src: url('../fonts/myriad_pro.otf');  
}
html,body{
  	background: #ffffff;
 	color: #000;
 	font-family: Prime;
 	font-size: 16px;
  	min-width: 1400px;
  	margin: 0;
  	padding:0;
  	overflow-y:hidden;
}
/*heads*/
strong {
  font-weight: 700;
}
address {
  font-style: normal;
}
p {
  margin-bottom: 30px;
}
input,
textarea {
  border-radius: 0 !important;
  outline: none !important;
  -webkit-appearance: none;
}
img {
  max-width: 100%;
}
/****Heads****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #474b5d;
  font-family: Prime;
  font-style: normal;
}
h2 {
  color: #ffffff;
  font:Geosans;
  letter-spacing: 1px;
}
h2 span {
  margin-top: 53px;
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 500px;
  display: inline-block;
  position: relative;
}
h2 span:before,
h2 span:after {
  position: absolute;
  content: '';
  width: 258px;
  height: 1px;
  background-color: #0e0e0e;
  opacity: 0.33;
  display: block;
  top: 50%;
  margin-top: -1px;
}
h2 span:before {
  right: 15px;
}
h2 span:after {
  left: 15px;
}
h3 {
  text-align: center;
  font-size: 38px;
  line-height: 36px;
  padding-top: 76px;
  color: #3e3c3c;
  margin-bottom: 138px;
}
h3.head__1 {
  margin-bottom: 75px;
}
header{
	position: relative;
	z-index: 2;
	padding-top: 30%;
	padding-bottom: 10%;
	background-color: #1B2C1F;
	background:url(./../../media/bg.png);
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
  	-ms-background-size:cover;
  	background-size: cover;
  	text-decoration: none;
}
header h1 a{
	display: block;
	-webkit-transition:0s ease;
	-moz-transition:0s ease;
	-o-transition:0s ease;
	-ms-transition:0s ease;
	transition:0s ease;
}
.menu_bg{
	position: fixed;
	background-color: rgba(17, 44, 27, 0.81);
  	height: 12%;
  	left: 0;
  	right: 0;
  	top: 0;
  	z-index: 1;
}
header h1.logo{
	position:absolute;
	left: 50%;
	margin-left:-92px;
	height: 150px;
	width: 150px;
}
.logo img{
	height: 100%;
	width: 100%;
	z-index: 2;
}
.navigation {
 	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	height: 60%;
  	width: 100%;
 	padding: 1% 0 0;
  	text-align: center;
}
.navigation nav{
	top:1%;
}
.navigation li {
	top: 2%;
 	display: inline-block;
 	font-family: Voyager;
 	font-size: 20px;
}
.navigation li + li {
	margin-left: 5%;
}
.navigation li:first-child + li + li {
  	margin-left: 25%;
}
.navigation li a {
  	position: relative;
  	text-decoration: none;
  	color:#e5e5e5;
}
.navigation li a:after {
  	-webkit-transition: 0.5s ease;
  	transition: 0.5s ease;
  	position: absolute;
  	height: 2px;
  	top: 100%;
  	margin-top: 7px;
  	content: '';
  	left: 50%;
  	margin-left: -42px;
  	background-color: #0e0e0e;
  	opacity: .53;
  	width: 0;
}
.navigation li a:hover,
.navigation li a.current {
	color: #0e0e0e;
}
.navigation li a:hover:after,
.navigation li a.current:after {
  	width: 84px;
}
#idea{
	padding-bottom: 180%;
}
.section{
	position: relative;
	width:100%;
	height: 25%;
	padding-bottom: 5%;
}
.section img{
	left:15%;
	top:10%;
	height:30%;
	width:60%;
}
.section > .content{
	position: absolute;
	top:30%;
	left:70%;
	width:30%;
	height: 30%;
	font-size: 28px;
}
.section > #poem{
	position: absolute;
	left:20%;
	width: 100%;
	height: 30%;
	font-size: 30px;
	font:Geosans bolder;
}
/*members*/
#members{
	padding-bottom: 73px;
}
.grey_bg{
	width: 100%;
	background-color: #f3f3f3;	
}
.members_story{
	left:30%;
	margin-left: -35%;
	padding-bottom: 300px;
	position: relative;
	margin-top: -10px;
	background-color: #fff;	

}
.member{
	position: relative;
	float: left;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: block;
  	margin-left:10px;
  	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
  	border: 5px solid rgba(131, 192, 146, 0.69);
  	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}
.next{
	left:55%;
	margin-left: -25%;
	padding-bottom: 486px;
	position: relative;
	margin-top: -10px;
	background-color: #fff;
}
.member:hover{
	border: 5px solid rgba(131, 192, 146, 0.80);
  	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.9)
	-webkit-transition:1s ease;
	-moz-transition:1s ease;
	-o-transition:1s ease;
	-ms-transition:1s ease;
	transition:0s ease;
}
.member img{
	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
  	-ms-background-size:cover;
  	background-size: cover;
}
/*timeline*/
.inset__1 {
  padding-bottom: 144px;
}
.about_bg__1 {
  background-color: #eae3df;
  padding-bottom: 198px;
}
#timeline {
  padding-bottom: 0;
}
.page {
  padding-bottom: 73px;
}
.page.page_bg__1 {
  background-color: #eae3df;
}
.story {
  padding-bottom: 243px;
  position: relative;
  margin-top: -8px;
}
.story:after {
  left: 50%;
  margin-left: -2px;
  width: 3px;
  background-color: #474b5d;
  position: absolute;
  content: '';
  top: -29px;
  bottom: 130px;
}
.block-1 {
  font-weight: normal;
}
.block-1 .text1 {
  font-size: 28px;
  font-style: normal;
  margin-bottom: 21px;
}
.block-1 + .block-1 {
  margin-top: 136px;
}
.block-1 + .block-1 .text1 {
  position: relative;
  top: 1px;
}
.block-1.inset__1 {
  padding-top: 143px;
}
.block-1.inset__1 .cornered {
  float: left;
  margin-right: 30px;
  margin-left: -8px;
}
.block-1.inset__1 .cornered:after {
  left: -15px;
  margin-left: 0;
}
.cornered {
  color: #474b5d;
  font-size: 24px;
  line-height: 36px;
  width: 194px;
  font-weight: normal;
  font-style: normal;
  position: relative;
  float: right;
  text-align: center;
  margin-top: 88px;
  margin-right: -8px;
}
.cornered:before {
  position: absolute;
  width: 137px;
  height: 137px;
  content: '';
  border: 1px solid #727582;
  left: 50%;
  margin-left: -69px;
  top: 50%;
  margin-top: -65px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  text-decoration: none !important;
}
.cornered:after {
  position: absolute;
  width: 14px;
  height: 14px;
  content: '';
  background-color: #474b5d;
  left: 100%;
  margin-left: -1px;
  top: 50%;
  margin-top: -4px;
  border-radius: 500px;
}
.cornered.pos__1 {
  position: absolute;
  left: 50%;
  margin-left: -97px;
  bottom: 0;
  line-height: 30px;
}
.cornered.pos__1:before {
  margin-top: -75px;
}
.cornered.pos__1:after {
  left: 50%;
  margin-left: -7px;
  top: 0;
  margin-top: -83px;
}


/* turfcoin */
#turfcoin{
	text-align: center;
	padding-bottom: 30px;
	font-family: Myriad;
	font-size: 48px;
	letter-spacing: 5px;
	color:#175C32;
}
/*material button */
.title{
	z-index: 3;
	position:absolute;
	top:30%;
	height: 50%;
	width: 100%;
}
.title h2{
	text-align: center;
	font-size: 25px;
	font-weight: bolder;
	letter-spacing: 1px;
}
#join{
	height:50px;
	width: 200px;
	margin-top: 30px;
	padding-top: 20px;
	font-size: 25px;
	font-family: Voyager;
	cursor: pointer;
}
hr{
	opacity: 0;
}
.button {
	text-align: center;
    display: inline-block;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
}

.button.green {
   	background-color: #0f9d58;
    color: #fff;
}
    
.button.raised {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
   	-moz-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
   	-o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    -webkit-transition-delay:0.2s;
    -moz-transition-delay:0.2s;
    -o-transition-delay:0.2s;
    -ms-transition-delay:0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
    
.button.raised:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
     transition-delay: 0.2s;
    -webkit-transition-delay:0.2s;
    -moz-transition-delay:0.2s;
    -o-transition-delay:0.2s;
    -ms-transition-delay:0.2s;
}
.name,.tag{
	display: none;
}
footer{
  position: fixed;
  width: 100%;
  bottom:0;
  height:5%;
  background-color: rgba(17, 44, 27, 0.81);
  color:white;
}
footer p{
  padding-top: 20px;
}